* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

header {
    height: 25%;
    display: flex;
    align-items: center;
    margin: 2rem;
}

header section {
    width: 5rem;
    height: 5rem;
    background-color: rgb(42, 3, 80);
    border-radius: 100%;
}

main {
    height: 100%;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.stripe-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 100%;
    width: 100%;
}

.stripe-wrapper article {
    width: 49.5%;
    height: 49%;
}

.stripe-wrapper article:nth-of-type(1) {
    background-color: pink;
}

.stripe-wrapper article:nth-of-type(2) {
    background-color: rgb(190, 0, 143);
}

.stripe-wrapper article:nth-of-type(3) {
    background-color: rgb(190, 0, 143);
}

.stripe-wrapper article:nth-of-type(4) {
    background-color: pink;
}

.pink-wrapper {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pink-wrapper article {
    background-color: rgb(249, 4, 213);
    width: 30%;
    height: 100%;
    border-radius: 20px;
}

footer {
    background-color: khaki;
    height: 20%;
    margin: 2rem 0.7rem 0 0.7rem;
}

@media (max-width: 600px) {
    header {
        justify-content: center;
        margin-bottom: 0.7rem;
    }
    main{
        margin: 0.7rem;
        gap: 0.7rem;
    }
    .stripe-wrapper {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        height: 100%;
        width: 100%;
        gap: 0.7rem;
    }

    .stripe-wrapper article {
        width: 100%;
       
    }

    .stripe-wrapper article:nth-of-type(1) {
        order: 2;
    }

    .stripe-wrapper article:nth-of-type(2) {
        order: 1;
    }

    .pink-wrapper article{
        border-radius: 50px;
        width: 40%;
    }

    footer{
        margin: 0 0.7rem;
    }
}